@import url("../Font.css");

.input-dual-device {
    display: flex; 
    height: 100%;
}

.input-device-field {
    padding-bottom: 15px; 
    width: 100%;
}

.input-device {
    width: 95%;
    font-family: 'Grotesque-light', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 12px;
}
.input-device:active {
    width: 95%;
    font-family: 'Grotesque-light', sans-serif;
    border: none;
}

#left-input-device {
    text-align: left;
}

#right-input-device {
    text-align: right;
}

.textarea-height {
    height: 130px;
    padding-bottom: 15px;
}

.textarea-device {
    font-family: 'Grotesque-light', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 100%; 
    height: 100%;
    resize: none;
}

.submit-field {
    text-align: center;
    width: 100%;
}

.submit-device {
    font-family: 'Grotesque-light', sans-serif;
    border-radius: 4px;
    padding: 4px;
    border: none;
    width: 100%;
}

.submit-device:hover {
    background-color: rgb(255, 255, 255);
}

@media(max-width: 500px) {
    .input-dual-device {
        display: block;
    }

    .input-device {
        width: 100%;
    }
}