@import url("../Templated Super CSS/HeaderExtension..css");

#main-page-title {
    background-color: rgba(32, 32, 32, 0.436);
    color: rgb(226, 226, 226);
    font-size: 45px;
    letter-spacing: 10px;
}

#net-zero {
    background-color: rgba(101, 101, 101, 0.478);
    color: rgb(185, 185, 185);
    font-size: 30px;
    letter-spacing: 10px;
}

#feedback {
    background-color: rgba(101, 101, 101, 0.478);
    color: rgb(237, 237, 237);
    font-size: 30px;
    letter-spacing: 10px;
}

