@import url("../Templated Super CSS/ParallexImageExtension.css");

#night-image {
    background-image: url("../../JPEG/Night Image.jpg");

    min-height: 1300px;
}

#waterfall-image {
    background-image: url("../../JPEG/Waterfall.jpeg");

    min-height: 100dvh;
}

#waterfall-2-image {
    background-image: url("../../JPEG/Waterfall 2.jpg");

    min-height: 40dvh;
}

#waterfall-3-image {
    background-image: url("../../JPEG/Waterfall 3.jpg");

    min-height: 70dvh;
}

#cliff-image {
    background-image: url("../../JPEG/Cliff.jpg");

    min-height: 30dvh;
}

#home-image {
    background-image: url("../../JPEG/Home Image 2.jpg");

    min-height: 400px; 
}

#home-2-image {
    background-image: url("../../JPEG/Home Image.jpg");

    min-height: 400px; 
}

#home-3-image {
    background-image: url("../../JPEG/Home Image 3.jpg");

    min-height: 1000px; 
}

#mountain-image {
    background-image: url("../../JPEG/Mountain Image.jpg");

    min-height: 40dvh;
}