@import url("../Templated Super CSS/ParallexExtension.css");

/* #region DARK THEME */ 
#dark-parallex-text-field {
    color: rgb(233, 233, 233);
    background-color: rgb(31, 31, 31);
    padding-top: 20px;
    padding-bottom: 100px;
}

#dark-parallex-text-header {
    font-size: 20px;
    padding-bottom: 20px;
}

#dark-parallex-text-paragraph {
    font-size: 20px;
    padding-bottom: 20px;
}
/* #endregion */

#light-parallex-text-icon-marker {
    color: rgb(71, 71, 71);
    padding-right: 6.75px;
    padding-bottom: 5px;
}

#light-parallex-text-icon-phone {
    color: rgb(71, 71, 71);
    padding-right: 6.75px;
    padding-bottom: 5px;
}

#light-parallex-text-icon-mail {
    color: rgb(71, 71, 71);
    padding-right: 3px;
    padding-bottom: 5px;
}

#light-parallex-text-icon-paragraph {
    color: rgb(71, 71, 71);
    padding-bottom: 3px;
}

#light-parallex-text-field {
    color: rgb(71, 71, 71);
    background-color: rgb(244, 244, 244);
    padding-top: 20px;
    padding-bottom: 40px;
    flex: 0 0 auto;
}
#button-parallex-text-field {
    margin: 0 auto;
    display: block;
}

#light-parallex-text-field-last {
    color: rgb(71, 71, 71);
    background-color: rgb(244, 244, 244);
    padding-top: 20px;
    padding-bottom: 70px;
    flex: 0 0 auto;
}

#light-parallex-text-header {
    font-size: 20px;
    padding-bottom: 20px;
}

#light-parallex-text-sub-header {
    font-size: 20px;
}

#light-parallex-text-paragraph {
    font-size: 15px;
    padding-bottom: 20px;
}

#light-parallex-text-field-first {
    color: rgb(71, 71, 71);
    background-color: rgb(244, 244, 244);
    padding-top: 20px;
    padding-bottom: 40px;
    flex: 0 0 auto;
}