@import url("../CSS/Font.css");

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    width: 200px;
    margin: 20px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    font-family: 'Grotesque-light', sans-serif;
}

.team-member h3 {
    margin-top: 10px;
    font-family: 'Grotesque-light', sans-serif;
}

.team-member p {
    font-size: 15px;
    padding-bottom: 20px;
    font-family: 'Grotesque-light', sans-serif;
}